


.section-header, .section-closer{
  background-color: $brand-active;
  color: $white;

  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px;
  min-height: 440px;

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
      margin-bottom: 32px;
    }
  }
}

.page-homepage.section-header{
    min-height: 580px;
  .content{
    @media (min-width: 832px) {
      margin-top: 190px;
    }
  }
}

.page-homepage.section-header{ //makes header left aligned
    .content{
      //align-items: flex-start;
      //text-align: left;
    }
}

.ratings-row{
  //background-color: blue;

  display: none;
  justify-content: space-between;
  width: 754px;
  margin: 160px auto 90px;
  @media (min-width: 832px) {
    display: flex;
  }
  .rating{
    //background-color: red;
    width: 112px;
    height: 87px;
    .star-row{
      display: flex;
      justify-content: center;
      .star{
        padding: 4px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .brand-row{
      display: flex;
      justify-content: center;
      .brand{
        padding: 4px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    p{
      font-size: 14px;
      font-weight: 600;
      font-family: $font-header;
      text-align: center;
    }
  }
}
